# ignore emacs autosave files
\#*#

# ignore undo-tree files
*.~undo-tree~

# ignore LaTeX compile products
*.pdf
*.aux
*.log

# ignore binaries
*.o
software/dwm-6.4/dwm
software/dmenu-5.2/dmenu
software/dmenu-5.2/stest

